<%- include("partials/header") %>

<h1>This is index</h1>

<% blogs.forEach((blog) => { %>
  <div>
    <h2><%= blog.title %></h2>
    <img src="<%= blog.image %>">
    <p><%= blog.created %></p>
    <p><%= blog.body %></p>
  </div>
<% }) %>

<%- include("partials/footer") %>