<%- include("partials/header") %>

<h1> <%= campground.name %></h1>

<img class="" src="<%= campground.image %>" alt="<%= campground.name %>">
<p class=""><%= campground.description %></p>

<h2>Comments</h2>
<% campground.comments.forEach((comment) => { %>
  <div>
    <p> <%= comment.author %> </p>
    <p> <%= comment.text %> </p>
  </div>
<% }) %>

<%- include("partials/footer") %>
