<h1> This is the id template </h1>

<div class="row text-center" id="campground-grid">
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card">
      <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.name %>">
      <div class="card-body">
        <h5 class="card-title"><%= campground.name %></h5>
        <p class="card-description"><%= campground.description %></p>
        <a href="/campground/<%= campground._id %>" class="btn btn-primary">More Info</a>
      </div>
    </div>
  </div>
</div>
